{% extends 'base.html' %}

{% block content %}

    {% if categories %}
        <div class="row">
            <div class="col-6">
                {% for category in category_list %}
                    <div>
                        <a {% if not category.is_leaf_node %}href="{% url 'catalog:category-detail' category.slug %}"
                            {% else %}href="{% url 'catalog:product-list' category.slug %}"{% endif %}>{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        Где-то косяк с подкатегориями
    {% endif %}

{% endblock %}