{% extends 'base.html' %}
{% block content %}
{% load mptt_tags %}

    <nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Categories</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% recursetree categories %}
                    <li class="dropdown side-dropdown">
                        <a href="{% url 'catalog:category-detail' node.slug %}" class="btn dropdown-toggle"
                           {% if not node.is_leaf_node %} type="button"
                           id="dropdownMenuButton" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"{% endif %}>
                            {{ node.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="row">
                                <div class="col-md-4">
                                    {% if not node.is_leaf_node %}
                                        <ul class="list-links">
                                            <li class="dropdown-item">{{ children }}</li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endrecursetree %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>


    <nav class="nav navbar-nav"> <!-- nav-tabs -->
        <ul class="nav nav-tabs row"> <!-- list-group flex-md-row -->
            {% recursetree categories %}
                <li {% if node.is_root_node %}class="nav-item dropdown"
                    {% elif not node.is_leaf_node and node.is_child_node %}class="btn"{% endif %}>
                    <div {% if node.is_root_node %}class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"{% else %}class="dropdown-item"{% endif %}>
                        <a {% if not node.is_leaf_node %}href="{% url 'catalog:category-detail' node.slug %}"
                           {% else %}href="{% url 'catalog:product-list' node.slug %}"{% endif %}>
                            {{ node.name }}
                        </a>
                    </div>
                    {% if not node.is_leaf_node %}
                        <ul class="dropdown-menu">
                            {{ children }}
                        </ul>
                    {% elif node.is_child_node %}
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </nav>



    <script type="text/javascript">
        function toggleDropdown(e) {
            const _d = $(e.target).closest('.dropdown'),
                _m = $('.dropdown-menu', _d);
            setTimeout(function () {
                const shouldOpen = e.type !== 'click' && _d.is(':hover');
                _m.toggleClass('show', shouldOpen);
                _d.toggleClass('show', shouldOpen);
                $('[data-toggle="dropdown"]', _d).attr('aria-expanded', shouldOpen);
            }, e.type === 'mouseleave' ? 300 : 0);
        }

        $('body')
            .on('mouseenter mouseleave', '.dropdown', toggleDropdown)
            .on('click', '.dropdown-menu a', toggleDropdown);
    </script>


{% endblock %}