<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load bootstrap4 %}
    {% load static %}
    {% load catalog_tags %}
    {% load cart_tags %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>BlockbustedShop</title>
</head>
<body>

<!-- navbar -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Профиль</a>
                                <a class="dropdown-item" href="#">Мои заказы</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Выход</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="nav-link" href="{% url 'account_login' %}">Вход или регистрация</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Статус заказа</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'home' %}">BlockbustedShop</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search-results' %}" method="get" autocomplete="off">
                <input class="" type="text" name="queryset" id="id_queryset" placeholder="поиск">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div id="cart-detail">
                {% include 'cart/cart_detail.html' %}
            </div>
        </div>
    </nav>
</div>

<div class="navigation-panel">
    <div class="container">
        {% get_family %}
    </div>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</ul>
{% endif %}

<!-- Main Section -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    FOOTER
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9a7f4a17ca.js" crossorigin="anonymous"></script>
<script src="{% static 'js/csrf_token.js' %}"></script>

<div>{% block javascript %}{% endblock %}</div>

</body>
</html>