{% extends 'base_order.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load cart_tags %}
{% load static %}

{% block content %}

    <main class="">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="card">
                        <form class="card-body" method="post" action="{% url 'cart:checkout' %}">
                            {% csrf_token %}
                            <h4>1. Укажите адрес доставки</h4>
                            <!-- Город -->
                            <div class="md-form mb-2">
                                <label for="address" class="">Город</label>
                                {{ form.city }}
                            </div>
                            <!-- Улица -->
                            <div class="md-form mb-2">
                                <label for="address" class="">Улица</label>
                                {{ form.street }}
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <!--Дом/корпус-->
                                    <div class="md-form ">
                                        <label for="firstName" class="">Дом/корпус</label>
                                        {{ form.house }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <!--Квартира-->
                                    <div class="md-form">
                                        <label for="lastName" class="">Квартира</label>
                                        {{ form.flat }}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4 class="mt-3">2. Как вам будет удобнее оплатить заказ?</h4>
                            <div class="row">
                                {% for value, name in form.fields.payment_option.choices %}
                                    <div class="col-md-4">
                                        <div class="custom-control custom-radio">
                                            <input id="{{ name }}" value="{{ value }}" name="payment_option"
                                                   type="radio" class="custom-control-input" required>
                                            <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if not user.is_authenticatedd %}
                                <hr>
                                <h4 class="mt-3">3.Укажите данные получателя</h4>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <!-- Имя -->
                                        <div class="md-form ">
                                            <label for="first_ame" class="small">Имя</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <!-- Фамилия -->
                                        <div class="md-form">
                                            <label for="last_name" class="small">Фамилия</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <!--Почта-->
                                        <div class="md-form mb-5">
                                            <label for="email" class="small">Email</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <!-- Телефон -->
                                        <div class="md-form">
                                            <label for="last_name" class="small">Телефон</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <hr>
                            <button class="btn btn-danger btn-lg btn-block" type="submit">Сделать заказ</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <a href="{% url 'cart:cart' %}">Вернуться в корзину</a>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">В заказе {{ request|get_cart_product_count }} товар на сумму {{ request|get_total_order_price }} ₽.</span>
                    </div>
                    <ul class="list-group mb-3 z-depth-1">
                        {% for order_product in order.products.all %}
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">{{ order_product.product.name }}</h6>
                                    <small class="text-muted">колличество</small>
                                </div>
                                <span class="text-muted">{{ order_product.get_total_product_price }} ₽</span>
                            </li>
                        {% endfor %}
                        {% if order.coupon %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <h6>Промокод:</h6>
                            <small>{{ order.coupon.code }}</small>
                            <span class="text-success">-{{ order.coupon.amount }}%</span>
                        </li>
                        {% endif %}
                    </ul>
                    {% if not order.coupon %}
                    <h4 class="mt-3">Скидки к заказу</h4>
                    <form action="{% url 'cart:add-coupon' %}" method="post">
                        {% csrf_token %}
                        <label for="coupon">Промокод</label>
                        {{ coupon_form.code }}
                        <button class="btn btn-danger" type="submit">Применить</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}